openapi: 3.0.0
servers:
  - url: 'https://api.domainsdb.info/v1'
paths:
  /domains/search:
    get:
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Search_Results'
        '403':
          description: api_key is not valid
        '404':
          description: Results not found
      summary: Domains Database Search
      operationId: get_domains_search
      parameters:
        - name: api_key
          in: query
          description: API key
          schema:
            type: string
        - name: date
          in: query
          description: Request date
          schema:
            type: string
        - name: page
          in: query
          description: Search page to request
          schema:
            type: string
        - name: limit
          in: query
          description: Results per page
          schema:
            type: integer
            default: 50
        - name: domain
          in: query
          description: Domain includes
          schema:
            type: string
        - name: zone
          in: query
          description: In Zone
          schema:
            type: string
        - name: country
          in: query
          description: Hosting Country
          schema:
            type: string
        - name: isDead
          in: query
          description: 'Dead or Not, default not'
          schema:
            type: boolean
        - name: A
          in: query
          description: A record includes
          schema:
            type: string
        - name: NS
          in: query
          description: NS record includes
          schema:
            type: string
        - name: CNAME
          in: query
          description: CNAME record includes
          schema:
            type: string
        - name: MX
          in: query
          description: MX record includes
          schema:
            type: string
        - name: TXT
          in: query
          description: TXT record includes
          schema:
            type: string
      tags:
        - domains/
  /info/api:
    get:
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Key_Info'
      operationId: get_info_api
      parameters:
        - name: api_key
          in: query
          description: API key
          schema:
            type: string
      tags:
        - info/
  /info/stat/:
    get:
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Zone_stats'
      summary: Returns overall stagtistics
      operationId: get_info_stat
      parameters:
        - name: page
          in: query
          description: Search page to request
          schema:
            type: string
        - name: limit
          in: query
          description: Results per page
          schema:
            type: integer
            default: 50
      tags:
        - info/
  '/info/stat/{zone}':
    parameters:
      - name: zone
        in: path
        required: true
        schema:
          type: string
    get:
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone_stats'
        '404':
          description: Zone not found.
      summary: Returns statistics for specific zone
      operationId: get_info_stat_zone
      parameters:
        - name: page
          in: query
          description: Search page to request
          schema:
            type: string
        - name: limit
          in: query
          description: Results per page
          schema:
            type: integer
            default: 50
      tags:
        - info/
  /info/tld/:
    get:
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Zone_info'
      summary: Returns overall Tld info
      operationId: get_info_tld
      tags:
        - info/
  '/info/tld/{zone}':
    parameters:
      - name: zone
        in: path
        required: true
        schema:
          type: string
    get:
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone_info'
        '404':
          description: Zone not found.
      summary: Returns statistics for specific zone
      operationId: get_info_tld_zone
      parameters:
        - name: page
          in: query
          description: Search page to request
          schema:
            type: string
        - name: limit
          in: query
          description: Results per page
          schema:
            type: integer
            default: 50
      tags:
        - info/
info:
  title: Domains-Index API
  version: '1.0'
  description: Domains-Index database powered API
tags:
  - name: default
    description: Default namespace
  - name: info/
    description: TLD Statistics
  - name: domains/
    description: Domains Database
components:
  responses:
    ParseError:
      description: When a mask can't be parsed
    MaskError:
      description: When any error occurs on mask
  schemas:
    Domains:
      properties:
        domain:
          type: string
          description: Domain name
        create_date:
          type: string
          format: date-time
          description: Domain creation date
        update_date:
          type: string
          format: date-time
          description: Domain last update date
        country:
          type: string
          description: Hosting Country
        isDead:
          type: string
          description: If Domain is Dead
        A:
          type: array
          items:
            type: string
            description: A record
        NS:
          type: array
          items:
            type: string
            description: NS record
        CNAME:
          type: array
          items:
            type: string
            description: CNAME record
        MX:
          type: array
          items:
            $ref: '#/components/schemas/MX_records'
        TXT:
          type: array
          items:
            type: string
            description: TXT record
      type: object
    Zone_stats:
      allOf:
        - $ref: '#/components/schemas/Response_Parameters'
        - properties:
            statistics:
              type: array
              items:
                $ref: '#/components/schemas/Zone_statistics'
          type: object
    Response_Parameters:
      required:
        - time
      properties:
        total:
          type: integer
          description: Total days reported
        time:
          type: string
          description: Time took
        next_page:
          type: string
          description: Next page id
      type: object
    Zone_statistics:
      required:
        - date
        - dec
        - inc
        - total
        - zone
      properties:
        zone:
          type: string
          description: TLD name
        date:
          type: string
          format: date-time
          description: Report Date
        dec:
          type: integer
          description: Increase
        inc:
          type: integer
          description: Decrease
        total:
          type: integer
          description: Total number of records
      type: object
    Zone_info:
      required:
        - type
        - zone
      properties:
        zone:
          type: string
          description: TLD name
        type:
          type: string
          description: TLD type
        includes:
          type: array
          items:
            type: string
            description: Sub TLDs included
        in_bundles:
          type: array
          items:
            type: string
            description: Sub TLDs included
        description:
          type: array
          items:
            type: string
            description: Sub TLDs included
      type: object
    API_Key_Info:
      properties:
        success:
          type: string
          description: State
        license:
          type: string
          description: State
        item_id:
          type: string
          description: State
        item_name:
          type: string
          description: State
        expires:
          type: string
          description: State
        customer_name:
          type: string
          description: State
        customer_email:
          type: string
          description: State
        license_limit:
          type: string
          description: State
        price_id:
          type: string
          description: State
      type: object
    Search_Results:
      allOf:
        - $ref: '#/components/schemas/Response_Parameters'
        - properties:
            domains:
              type: array
              items:
                $ref: '#/components/schemas/Domains'
          type: object
    MX_records:
      properties:
        exchange:
          type: string
          description: MX domain
        priority:
          type: integer
      type: object
