swagger: '2.0'
schemes:
  - https
host: api.funtranslations.com
basePath: /
info:
  contact:
    name: Fun Translations
    url: http://funtranslations.com/
    x-twitter: funtranslate
  description: |
    Funtranslations API gives access to the full set of translations available at funtranslations.com so that you can integrate them in your workflow or an app. [Click here to get details and subscribe](http://funtranslations.com/api) . Here are the individual API links:

      ## Morse code API ##
      Morse code conversion API on the cloud. Translate to and from Morse Code.[Click here to subscribe](http://funtranslations.com/api/morse)
      ## Braille API ##
      Braille conversion API on the cloud. Translate to Braille and get Braille results suitable for many display types.[Click here to subscribe](http://funtranslations.com/api/braille)     
      ## Starwars Translation API ##
      Ever wonder how to talk like Yoda? Well, use our API and let your APP/webpage speak like Yoda too.[Click here to subscribe](http://funtranslations.com/api/yoda)  
      
      Sith Translator API. [Click here to subscribe](http://funtranslations.com/api/sith) 
      
      Cheunh Translator API. [Click here to subscribe](http://funtranslations.com/api/cheunh) 
      
      Huttese Translator API. [Click here to subscribe](http://funtranslations.com/api/huttese)
      
      Mandalorian Translator API. [Click here to subscribe](http://funtranslations.com/api/mandalorian)
      
      Gungan Translator API. [Click here to subscribe](http://funtranslations.com/api/gungan)
      
      ## Pirate Speak Translation API ##
      Ahoy, matey. Let's get those land lubbers speak our tounge too! Our evergreen pirate speak tranlsator API.[Click here to subscribe](http://funtranslations.com/api/pirate) 
      ## Valley Speak Translation API ##
      Our throwback Valspeak translations API.[Click here to subscribe](http://funtranslations.com/api/valspeak)    
      ## Minion Speak Translation API ##
      Our evil master following minion speak translations API.[Click here to subscribe](http://funtranslations.com/api/minion)     
  termsOfService: https://funtranslations.com/terms
  title: FunTranslations API
  version: '2.3'
  x-apisguru-categories:
    - text
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_funtranslate_profile_image.png
  x-origin:
    - format: swagger
      url: http://api.funtranslations.com/yaml/funtranslations.yaml
      version: '2.0'
  x-providerName: funtranslations.com
  x-serviceName: index
consumes:
  - application/json
produces:
  - application/json
  - application/xml
  - application/js
securityDefinitions:
  X-Funtranslations-Api-Secret:
    in: header
    name: X-Funtranslations-Api-Secret
    type: apiKey
tags:
  - description: Morse Code Translation API
    externalDocs:
      description: Find out more
      url: http://funtranslations.com/api/morse
    name: Morse
  - description: Starwars Translation API
    externalDocs:
      description: Find out more
      url: http://funtranslations.com/api/yoda
    name: Starwars
  - description: Startrek Translation API
    externalDocs:
      description: Find out more
      url: http://funtranslations.com/api/yoda
    name: Startrek
  - description: Pirate Speak Translation API
    externalDocs:
      description: Find out more
      url: http://funtranslations.com/api/pirate
    name: Pirate
  - description: Valley Speak Translation API
    externalDocs:
      description: Find out more
      url: http://funtranslations.com/api/valspeak
    name: Valspeak
  - description: Braille Translation API
    externalDocs:
      description: Find out more
      url: http://funtranslations.com/api/braille
    name: Braille
  - description: Minion Translation API
    externalDocs:
      description: Find out more
      url: http://funtranslations.com/api/minion
    name: Minion
paths:
  /translate/braille:
    get:
      operationId: translateToBraille
      description: Translate from English to Braille. This is what you use if you have a braille display. This API translates the English text into characters that a braille display understands and you can feed the translated text directly to the display.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                  "success": {
                      "total": 1
                  },
                  "contents": {
                      "translated": "  ,fun ,transl,ns has \"s?+ =\r\n\"ey\"o4\r\n",
                      "text": "Fun Translations has something for everyone.",
                      "translation": {
                          "source": "english",
                          "destination": "braille display"
                      }
                  }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              }    
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Braille
  /translate/braille/unicode:
    get:
      operationId: translateToBrailleUnicode
      description: Translate from English to Braille Unicode characters.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                  "success": {
                      "total": 1
                  },
                  "contents": {
                      "translated": [
                          "⠀",
                          "⠀",
                          "⠠",
                          "⠋",
                          "⠥",
                          "⠝",
                          "⠀",
                          "⠠",
                          "⠞",
                          "⠗",
                          "⠁",
                          "⠝",
                          "⠎",
                          "⠇",
                          "⠠",
                          "⠝",
                          "⠎",
                          "⠀",
                          "⠓",
                          "⠁",
                          "⠎",
                          "⠀",
                          "⠐",
                          "⠎",
                          "⠹",
                          "⠬",
                          "⠀",
                          "⠿",
                          "\r",
                          "\n",
                          "⠐",
                          "⠑",
                          "⠽",
                          "⠐",
                          "⠕",
                          "⠲",
                          "\r",
                          "\n"
                      ],
                      "text": "Fun Translations has something for everyone.",
                      "translation": {
                          "source": "english",
                          "destination": "braille unicode"
                      }
                  }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              }    
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Braille
  /translate/brooklyn:
    get:
      operationId: translateToBrooklynSpeak
      description: Translate from English to Brooklyn Speak.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "Where dis is lots of love dere is lots of fightin'.",
                  "text": "Where this is lots of love there is lots of fighting.",
                  "translation": "brooklyn"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              } 
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Dialect
  /translate/chef:
    get:
      operationId: translateToSwedishChefSpeak
      description: Translate from English to Swedish Chef speak.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "Cuokeeng is fuon vhee-a yuou du it vit a cheff. Bork, Bork, Bork!",
                  "text": "Cooking is fun when you do it with a chef",
                  "translation": "chef"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              } 
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Characters
  /translate/cheunh:
    get:
      operationId: translateToStarWarsCheunh
      description: Translate from English to Starwars cheunh.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "Ch'ah went ch'at coruscant vea was bav parsec ch'itt'suvrecah!",
                  "text": "I went to coruscant which was ten parsec away!",
                  "translation": "cheunh"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              }   
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Starwars
  /translate/cockney:
    get:
      operationId: translateToCockneySpeak
      description: Translate from English to Cockney Speak.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "I'm wee busy wiv the bleedin' bike, but I luv ter eat the chuffin' food.",
                  "text": "I'm little busy with the bike, but I love to eat the food.",
                  "translation": "cockney"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              } 
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Dialect
  /translate/dolan:
    get:
      operationId: translateDorianSpeak
      description: Translate from English to Dolan Speak.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "Ai hav 2 gievn prezintashun 2 ppl.",
                  "text": "I have to give a presentation to people.",
                  "translation": "dolan"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              }
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Characters
  /translate/dothraki:
    get:
      operationId: translateToDothraki
      description: Translate from English to Dothraki.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "Hash yeri ray tih erinak’s zhavorsa?",
                  "text": "Have you seen my lady’s dragon?",
                  "translation": "dothraki"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              } 
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Game Of Thrones
  /translate/ermahgerd:
    get:
      operationId: translateToERMAHGERD
      description: Translate from English to ERMAHGERD.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": " ER MAH GERD THERS ERS GERVIN MAH GERSERBERMPS",
                  "text": "Oh my god! This is giving me goosebumps!",
                  "translation": "ermahgerd"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              }                                                                                
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Internet FAD
  /translate/ferblatin:
    get:
      operationId: translateToFerbLatin
      description: Translate from English to Ferb Latin.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "ell-Werb, if by hat-terb ou-yerb ean-merb we hould-serb reate-cerb a hole-werb ew-nerb orm-ferb of ommunication-cerb, hen-terb I couldn't gree-aerb more. ",
                  "text": "Well, if by that you mean we should create a whole new form of communication, then I couldn't agree more.",
                  "translation": "ferblatin"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              }            
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Characters
  /translate/fudd:
    get:
      operationId: translateToFuddSpeak
      description: Translate from English to Fudd Speak.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "Be vewy vewy qwiet. I am hunting wabbits.",
                  "text": "Be very very quiet. I am hunting rabbits.",
                  "translation": "fudd"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              }                   
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Characters
  /translate/gungan:
    get:
      operationId: translateToStarWarsGungan
      description: Translate from English to Starwars Gungan Language.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "Yousa came to mesa home and mesa said okeeday!",
                  "text": "You came to my home and I said okay!",
                  "translation": "gungan"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              } 
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Starwars
  /translate/huttese:
    get:
      operationId: translateToStarWarsHuttese
      description: Translate from English to Starwars Huttese Language.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "Did u stuka doe murishani?",
                  "text": "Did you see the bounty hunter?",
                  "translation": "huttese"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              }
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Starwars
  /translate/jive:
    get:
      operationId: translateToJiveSpeak
      description: Translate from normal English to Jive Speak.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "I likes da damn boy across de street.  Right On!",
                  "text": "I like the boy across the street!",
                  "translation": "jive"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              }       
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Dialect
  /translate/klingon:
    get:
      operationId: translateToStarTrekKlingon
      description: Translate from English to Startrek Klingon Language.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "'iv do tlhih baj? Chah are going to baq tlhih.",
                  "text": "Who do you work for? They are going to terminate you.",
                  "translation": "klingon"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              }
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Startrek
  /translate/mandalorian:
    get:
      operationId: translateToStarWarsMandalorian
      description: Translate from English to Starwars Mandalorian Language.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "Ni'd guuror a pint cuyir gal",
                  "text": "I'd like a pint of ale",
                  "translation": "mandalorian"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              }
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Starwars
  /translate/minion:
    get:
      operationId: translateToMinionSpeak
      description: Translate from English to Minion Speak.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "Bello, ka am con a banana!",
                  "text": "Hello, I am hungry!",
                  "translation": "minion"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              }     
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Characters
  /translate/morse:
    get:
      operationId: translateToMorseCode
      description: Translate from English to morse code.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "-- --- .-. ... .     -.-. --- -.. .     .. ...     .-     -.. .. -     .- -. -..     -.. .- .... ",
                  "text": "Morse code is a dit and dah",
                  "translation": "morse"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              }
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Morse
  /translate/morse2english:
    get:
      operationId: translateMorseCodeToEnglish
      description: Translate from Morse code to English.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                  "success": {
                      "total": 1
                  },
                  "contents": {
                      "translated": "morse    code    is    a    dit    and    dah ",
                      "text": "-- --- .-. ... .     -.-. --- -.. .     .. ...     .-     -.. .. -     .- -. -..     -.. .- .... ",
                      "translation": {
                          "source": "morse",
                          "destination": "english"
                      }
                  }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              }
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Morse
  /translate/oldenglish:
    get:
      operationId: translateToOldEnglish
      description: Translate from English to Old English.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": " {Mr}. {Tim} {ate} bâm innor feorm, for ðý ðe {unfortunately} {what} swilc {ate} sw¯ær of hê oðcwelan.",
                  "text": "Mr. Tim ate a hearty meal, but unfortunately what he ate made him die.",
                  "translation": "oldenglish"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              }  
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - English
  /translate/piglatin:
    get:
      operationId: translateToPigLatin
      description: Translate from English to Pig Latin.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "ig-Pay atin-Lay is-way used-way in-way ools-schay o-tay each-tay anguage-lay onstructs-cay. ",
                  "text": "Pig Latin is used in schools to teach language constructs.",
                  "translation": "piglatin"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              }              
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - PigLatin
  /translate/pirate:
    get:
      operationId: translateToPirateSpeak
      description: Translate from English to Pirate Speak.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "Ahoy matey, and a bottle of rum! me dear ol' mum, bless her black soul goes with me t' th' briny deep.",
                  "text": "Hello sir! my mother goes with me to the ocean.",
                  "translation": "pirate"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              } 
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Characters
  /translate/quneya:
    get:
      operationId: translateToElvishQuenya
      description: Translate from English to Elvish Quenya Language.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "Ni am Arwen - ni've túl ana help tye. Lar- mime óma. Túl at- ana i kal.",
                  "text": "I am Arwen - I've come to help you. Hear my voice... Come back to the light.",
                  "translation": "quenya"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              }                       
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Elvish
  /translate/shakespeare:
    get:
      operationId: translateToShakespeareEnglish
      description: Translate from English to Shakespeare English.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "Thou did giveth Mr. Tim a hearty meal,  but unfortunately what he englut did maketh him kicketh the bucket.",
                  "text": "You gave Mr. Tim a hearty meal, but unfortunately what he ate made him die.",
                  "translation": "shakespeare"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              } 
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - English
  /translate/sindarin:
    get:
      operationId: translateToElvishSindarin
      description: Translate from English to Elvish Sindarin Language.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "I ambar na- changed; im tur- feel ha in i nen,  im tur- feel ha in i coe,  im tur- smell ha in i gwilith.",
                  "text": "The world is changed; I can feel it in the water, I can feel it in the earth, I can smell it in the air.",
                  "translation": "sindarin"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              }  
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Elvish
  /translate/sith:
    get:
      operationId: translateToSithSpeak
      description: Translate from English to Sith Speak.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "Nu went kia coruscant which meo ten parsekas salini!",
                  "text": "I went to coruscant which was ten parsec away!",
                  "translation": "sith"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              }
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Starwars
  /translate/uk2us:
    get:
      operationId: translateFromUkEngToUsEng
      description: Translate from UK English to US English.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "The artifacts of the behavioral elements canceled the commercialized monotone.",
                  "text": "The artefacts of the behavioural elements cancelled the commercialised monotone.",
                  "translation": "uk2us"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              }                                         
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - English
  /translate/us2uk:
    get:
      operationId: translateUSEnglishToUKEnglish
      description: Translate from US English to UK English.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "He agonised over the ageing armoured cars.",
                  "text": "He agonized over the aging armored cars.",
                  "translation": "us2uk"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              }  
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - English
  /translate/valspeak:
    get:
      operationId: translateToValleySpeak
      description: Translate from English to Valley Speak.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "Bitchin' Mornin'. Come on nerd, fer shure just sayin'",
                  "text": "Good Morning. Come on man, just saying!",
                  "translation": "valspeak"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              } 
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Dialect
  /translate/valyrian:
    get:
      operationId: translateToValyrian
      description: Translate from English to Valyrian.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "Nyke Daenerys jelmāzmo hen se lentor targārien,  hen se ānogar hen uēpa valyrio. Valyrīha iksos issa muñnykeā ēngos.",
                  "text": "I am Daenerys Stormborn of the House Targaryen, of the blood of Old Valyria. Valyrian is my mother tongue.",
                  "translation": "valyrian"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              }
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Game Of Thrones
  /translate/vulcan:
    get:
      operationId: translateToStarTrekVulcan
      description: Translate from English to Startrek Vulcan Language.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "Lau I leralmin ik I ma ri thoroughly tizh-tor serving k' komihn? I talal ish-veh illogic heh duhik zherka wuh ek'kayik ornat.",
                  "text": "May I say that I have not thoroughly enjoyed serving with humans? I find their illogic and foolish emotions a constant irritant.",
                  "translation": "vulcan"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              }  
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Startrek
  /translate/yoda:
    get:
      operationId: translateToYodaSpeak
      description: Translate from English to Yoda Speak.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        '200':
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "Lost a planet,  master obiwan has. ",
                  "text": "Master Obiwan has lost a planet.",
                  "translation": "yoda"
                }
              }
        '401':
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              } 
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Starwars
